.toppic {
	position: absolute;
	top: 0px;
	border: 2px solid rgba(236, 16, 97, 1);
	border-radius: 10px;
}

* {
	box-sizing: border-box;
}
--root {
	--primary-color: hsl(260, 100%, 80%)
}

html,
body {
	height: 100vh;
	width: 100vw;
}

body {
	margin: 0;
	display: grid;
	place-items: center;
	background-color: #222;
	font-family: system-ui, sans-serif;
}

nav {	
	margin-top: 2px;
}

nav,
.nav-item {
	display: flex;
}

nav {
	border-radius: 6px;
	background-image: linear-gradient(
		rgb(48, 48, 48) 13%,
		rgb(30, 30, 30) 40%,
		#0c0d11 86%
	);
	color: rgba(255, 255, 255, 0.6);
	text-shadow: 0 -2px 0 black;
	cursor: pointer;
	box-shadow: 1px 2px 4px rgb(20, 20, 20), 0 4px 12px rgb(10, 10, 10);
	position: fixed;
	top: 500px;
	border: 2px solid white;/*rgb(90, 90, 90) 13%; */
}

.nav-item {
	flex-direction: row-reverse;
	font-size: 16px;
	font-weight: bold;
	line-height: 1rem;
	min-width: 120px;
	align-items: center;
	justify-content: center;
	transition: all 80ms ease;
	&.active {
		color: var(--primary-color);
		text-shadow: 0 0 3px rgba(236, 16, 97, 0.7);
	}
	
	&.active:hover {
		color: rgba(236, 16, 97);
		background-color: transparent;
		font-weight: bold; 
		box-shadow: 0px 0px 16px 12px rgba(236, 16, 97);
	}

	&:not(.active):hover {
		color: rgba(255, 255, 255, 1);
		background-color: transparent;
		font-weight: bold; 
		box-shadow: 0px 0px 16px 12px white;
	}

	&:hover > .icon .subicon {
		height: 32px;
		width: 32px;
		border-radius: 32px;
		top: -16px;
		right: -16px;
		border-color: white;
	}

	&:not(:first-of-type) {
		border-left: 1px solid rgb(60, 60, 60);
	}
	&:not(:last-of-type) {
		border-right: 0.1rem solid black;
	}

	a {
		color: inherit;
		text-decoration: none;
		padding: 1ch;			
	}
	
	.icon {
		padding: 0ch;
		position: relative;
		margin-left: 4px;
		.subicon {
			text-shadow: none;
			transition: all 40ms ease;
			position: absolute;
			top: -3px;
			right: -3px;
			background: red;
			color: white;
			box-shadow: 0 0 4px rgba(41, 41, 41, 0.405);
			width: 18px;
			height: 18px;
			border-radius: 14px;
			font-size: 0.7em;
			font-weight: 700;
			display: inline-grid;
			place-items: center;
			border: 2px solid mix(white, red);
		}
	}

	.icon > svg {
		max-width: 16px;
	}
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  cursor: pointer;
}

.tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color:rgba(255, 255, 255, 0.6);
  border: 1px solid black;
  font-weight: bold;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  bottom: 14px;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}