.message-box {
            display: none; /* Hidden by default */
            padding: 15px;
            background-color: #4CAF50; /* Green */
            color: white;
            text-align: center;
            position: fixed;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 5px;
            z-index: 1000;
        }
.textarea-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

textarea {
  width: 100%;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  margin-bottom: 10px;
}

button {
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.checkbox {
	width: 28px;
	height: 28px;
}

.row {
	margin: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 2px dotted black;
}

.column {
	float: left;
	width: 50%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

@media only screen and (max-width: 650px) {
	.column {
		width: 100%;
	}
	body {
		max-width: 600px;
	}
	.fav_outd {
		display:flex;
	}
}

label {
	width: 31%;
	font-family: 'Chiller';
	font-size: 28px;
	color: rgb(242, 232, 92);
	text-shadow: 2px 2px #0f0f0f;
}

input, select {
	/* 	  float: right; */
	width: 69%;
	margin-right: 20px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.subbtn, .subbtno {
	margin-bottom: 20px;
	width: auto;
	/*        width: 10%;  */
	/*        margin-right: 45%;  */
	color: rgb(242, 232, 92);
	text-shadow: 2px 2px #0f0f0f;
	font-family: 'Chiller';
	font-size: 28px;
	background: transparent;
	border: 2px solid white;
	border-radius: 10px;
	position: absolute;
}

.subbtno {
	float: right;
	position: relative;
}

.subbtn:hover, .subbtno:hover {
	font-weight: bold;
	box-shadow: 0px 0px 16px 12px yellow
}

body {
	margin-left: auto;
	margin-right: auto;
	width: 1155px;
	background-color: rgb(117, 228, 245);
	background: url("../image/bg1-DALL-E.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

.pagetitle {
	font-family: 'Bradley Hand ITC';
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	color: rgb(236, 16, 97);
	text-shadow: 2px 2px yellow
}

#numofpage, #republish {
	width: 90px;
	height: 30px;
	max: 900000000;
}
