.animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.animate-blur{position:relative;animation:animateblur 0.4s}@keyframes animateblur{from{opacity:0} to{opacity:1}}
.toppic{margin-left:30px;position:relative;border:2px solid rgba(236, 16, 97, 1);border-radius:10px;width:90vw;height:auto;object-fit: cover;display:block}
.topbar{margin-left:30px;position:relative;top:0}
.sidebar{display:block;top:0;height:99.5%;width:0px;left:0;background-color:gray;position:fixed;z-index:3;overflow:auto;bottom:0;}
.sidebar:hover{width:200px!important}
body{background-color: white;}
.overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
/* @media (min-width:601px){.col.m1{width:8.33333%}.col.m2{width:16.66666%}.col.m3,.quarter{width:24.99999%}.col.m4,.third{width:33.33333%}} */
/* @media (min-width:993px){.col.l1{width:8.33333%}.col.l2{width:16.66666%}.col.l3{width:24.99999%}.col.l4{width:33.33333%}} */
/* @media (min-width:993px){.modal-content{width:900px}.hide-large{display:none!important}.sidebar.collapse{display:block!important}} */
/* @media (max-width:600px){.modal-content{margin:0 10px;width:auto!important}.modal{padding-top:30px}} */
/* @media (max-width:768px){.modal-content{width:500px}.modal{padding-top:50px}} */
/* @media (max-width:992px) and (min-width:601px){.hide-medium{display:none!important}} */
/* @media (max-width:992px){.sidebar.collapse{display:none}.main{margin-left:0px!important;margin-right:0px!important}.auto{max-width:100%}} */
/* @media (max-width:1205px){.auto{max-width:95%}} */
.main{margin-left:20px;transition:margin-left .4s;text-align:justify;text-justify:inter-word;}
.container:after,.container:before,.panel:after,.panel:before,.row:after,.row:before,.row-padding:after,.row-padding:before,
.cell-row:before,.cell-row:after,.clear:after,.clear:before,.bar:before,.bar:after{content:"";display:table;clear:both}
.padding-32{padding-top:32px!important;padding-bottom:32px!important}
.padding-16{padding-top:16px!important;padding-bottom:16px!important}
.large{font-size:18px!important}
.theme-l5{color:#000 !important; background-color:#f0f0f0 !important}
.theme-l2{color:#fff !important; background-color:#888888 !important}
.theme-l1{color:#fff !important; background-color:#333333 !important}
.bar-item{color:rgb(247, 245, 183);padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.bar{color:#fffb85;padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.bar,.button{white-space:normal}
.yellow,.hover-yellow:hover{color:rgb(255, 247, 0)!important;background-color:gray!important}
a{background-color:transparent;color:inherit}
a:active,a:hover{outline-width:0}
article,aside,details,figcaption,figure,footer,header,main,menu,navsb,section{display:block}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}
html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
button,input,select,textarea,optgroup{font:inherit;margin:0}
optgroup{font-weight:bold}
button,input{overflow:visible}
button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
.hide-large{display:none!important}
.padding-large{padding:12px 24px!important}
.xlarge{font-size:24px!important}
.right{float:right!important}
.container,.panel{padding:0.01em 16px}
.container:after,.container:before,.panel:after,.panel:before,.row:after,.row:before,.row-padding:after,.row-padding:before,
.cell-row:before,.cell-row:after,.clear:after,.clear:before,.bar:before,.bar:after{content:"";display:table;clear:both}
.bar-block .bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.bar-block .center .bar-item{text-align:center}
.bar-block .dropdown-hover,.bar-block .dropdown-click{width:100%}
.bar-block .dropdown-hover .dropdown-content,.bar-block .dropdown-click .dropdown-content{min-width:100%}
.bar-block .dropdown-hover .button,.bar-block .dropdown-click .button{width:100%;text-align:left;padding:8px 16px}